# dependencies
node_modules

# testing
coverage
.nyc_output

# production
build

# test reports
reports

# misc
.DS_Store
.env
.history
.vscode
yarn-error.log
npm-debug.log
npm-debug.log.*
package-lock.json
xunit.xml
.idea
